body{
    background: rgb(53,21,93);
    background: linear-gradient(0deg, rgba(53,21,93,1) 0%, rgba(37,15,65,1) 100%);
    min-height: 100vh;
    overflow: hidden;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    padding: 0 !important;
    height: 80px !important;
}

img{
    background-color: #fff;
    border-radius: 50%;

}

.left-bar , .right-bar {
    background-color: #00000050;
}